@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Young+Serif&display=swap");

:root {
  --primary: #2772e3;
  --secondary: #FFCD4B;
  --text-color: #0dfca4;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 20px 50px 20px 50px;
  overflow: hidden;
  background-color: var(--primary);
}

.navbar {
  display: flex;
  flex-direction: row;
}

.nav-title {
  flex: 1;
}

.nav-menu-mobile {
  display: none;
}

.hero-title {
  display: inline;
  font-family: "Young Serif", serif;
  color: var(--secondary);
  font-size: 2rem;
}

.nav-menu {
  align-items: flex-end;
  justify-content: flex-end;
}

.list-menu .list-item {
  list-style: none;
  display: inline-block;
}

.list-item {
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
}

.list-item:not(:last-child) {
  margin-right: 10px;
}

.link-item {
  text-decoration: none;
  position: relative;
  color: #fff;
}

.link-item::before {
  content: "";
  height: 2px;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: var(--secondary);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.link-item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.main-content {
  display: grid;
  padding: 20px 0;
  grid-template-areas: "col-1 col-2";
  grid-template-columns: 1fr 1fr;
}

.main-text {
  grid-area: col-1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-text {
  font-size: 2.5rem;
  color: var(--secondary);
}

.main-text p {
  color: #fff;
}

.main-img {
  grid-area: col-2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-rekomendasi {
  margin-top: 20px;
}

.title-rekomen {
  text-align: center;
  color: #fff;
}

.card-wrap{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-menu img {
  height: 100%;
  width: 100%;
}

.card-menu {
  padding: 20px;
  width: 250px;
  height: 400px;
  background-color: #f2f3f0;
  border-radius: 20px;
  margin: 0;
}

.menu-img {
  height: 200px;
  width: 200px;
  padding: 20px;
}

.nama-menu {
  text-align: center;
  color: var(--secondary);
}

.list-btn-signin{
  border-radius: 5px;
  border: 1px solid var(--secondary);
  position: relative;
}

.list-btn-signin:hover::before{
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.list-btn-signup{
  background-color: var(--secondary);
  border-radius: 5px;
  border: 1px solid var(--secondary);
  position: relative;
}

.list-btn-signup:hover::before{
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.btn-item-signin {
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
}

.list-btn-signup{
  background-color: var(--secondary);
  border-radius: 5px;
  border: 1px solid var(--secondary);
}




@media only screen and (max-width: 600px) {
  .container {
    padding: 5px 20px 5px 20px;
    overflow: hidden;
  }

  .hero-title {
    font-size: 1.3rem;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu-mobile {
    display: block;
    background-color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .line {
    margin: 4px auto;
    height: 2px;
    width: 80%;
    background-color: #676767;
    border-radius: 3px;
  }

  .main-content {
    display: flex;
    padding: 0 0;
    flex-direction: column;
    align-items: center;
  }

  .main-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
  }
  .main-img img {
    width: 100%;
    height: 100%;
  }

  .hero-text {
    font-size: 1.3rem;
  }

  .hero-text,
  .main-text p {
    text-align: center;
  }
  .main-text p {
    font-size: 0.7rem;
  }

  .card-menu {
    padding: 20px;
    width: 250px;
    height: 400px;
    background-color: #f2f3f0;
    border-radius: 20px;
    margin-top: 10px;
  }
}
