<!DOCTYPE html>
<html>
<head>
    <title>Form Mahasiswa</title>
</head>
<body>
    <h1>Form Mahasiswa</h1>
    <form method="POST" action="">
        <!-- Jika id sudah ada, ini adalah formulir pembaruan -->
        <input type="hidden" name="id" value="{{ data[0] if data else '' }}">
        <label for="nama">Nama:</label> <br>
        <input type="text" name="nama" value="{{ data[1] if data else '' }}" required><br><br>
      
        <label for="npm">NPM:</label><br>
        <input type="number" name="npm" value="{{ data[2] if data else '' }}" required><br><br>

        <label for="jenis_kelamin">Jenis Kelamin:</label><br>
        <input type="radio" name="jenis_kelamin" id="jenis_kelamin" value="Laki-laki" {% if data[3] == "Laki-laki" %} checked {% endif %}> Laki-laki <br>
        <input type="radio" name="jenis_kelamin" id="jenis_kelamin" value="Perempuan" {% if data[3] == "Perempuan" %} checked {% endif %}> Perempuan <br><br>
        

        <label for="prodi">Program Studi:</label><br>
        <select name="prodi">
            {% for option in option %}
                <option value="{{ option }}" {% if option == default_value %} selected {% endif %}>{{ option }}</option>
            {% endfor %}
        </select><br><br>

        <label for="alamat">Alamat:</label><br>
        <textarea type="text" name="alamat"  required>{{ data[5] if data else '' }}</textarea><br><br>

        <input type="submit" value="Simpan Mahasiswa"><br><br>
    </form>

    <a href="{{ url_for('index') }}">Kembali ke Daftar Mahasiswa</a>
</body>
</html>
