<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/index.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="nav-title">
          <h1 class="hero-title">SaladIn</h1>
        </div>
        <div class="nav-menu">
          <ul class="list-menu">
            <li class="list-item">
              <a class="link-item" href="#">Home</a>
            </li>
            <li class="list-item">
              <a class="link-item" href="#">Menu</a>
            </li>
            <li class="list-item">
              <a class="link-item" href="#">About</a>
            </li>
            <li class="list-item">
              <a class="link-item" href="#">Contact</a>
            </li>
            <a class="btn-item-signin list-item list-btn-signin" href="{{url_for('login')}}"
              >Sign In</a
            >
            <a class="btn-item-signup list-item list-btn-signup" href="#"
              >Sign Up</a
            >
          </ul>
        </div>
        <div class="nav-menu-mobile">
          <div class="btn-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </nav>
      <main>
        <section class="main-content">
          <div class="main-img">
            <img src="../static/images/salad.png" alt="pizza" />
          </div>
          <div class="main-text">
            <h2 class="hero-text">Udah murah, enak lagi..</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse
              assumenda excepturi suscipit delectus impedit, explicabo ad
              aspernatur maiores officiis deleniti harum ducimus, laudantium,
              enim et neque. Obcaecati praesentium iste optio!
            </p>
          </div>
        </section>
        <section id="menu-rekomendasi">
          <h2 class="title-rekomen">Menu Rekomendasi</h2>
          <div class="card-wrap">
            <div class="card-menu">
              <div class="menu-img">
                <img src="../static/images/salad1.png" alt="salad1" />
              </div>
              <h3 class="nama-menu">Salad 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae dolore eius unde suscipit facere quia. Suscipit
                temporibus minima cum blanditiis ut? Commodi eos optio libero
                iste cumque distinctio. Veritatis, commodi.
              </p>
            </div>
            <div class="card-menu">
              <div class="menu-img">
                <img src="../static/images/salad2.png" alt="salad1" />
              </div>
              <h3 class="nama-menu">Salad 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae dolore eius unde suscipit facere quia. Suscipit
                temporibus minima cum blanditiis ut? Commodi eos optio libero
                iste cumque distinctio. Veritatis, commodi.
              </p>
            </div>
            <div class="card-menu">
              <div class="menu-img">
                <img src="../static/images/salad3.png" alt="salad1" />
              </div>
              <h3 class="nama-menu">Salad 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae dolore eius unde suscipit facere quia. Suscipit
                temporibus minima cum blanditiis ut? Commodi eos optio libero
                iste cumque distinctio. Veritatis, commodi.
              </p>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
